<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <center>
        <h1>Menu</h1>
        <a href="/sigin">Sig in</a><br>
        <a href="/?id=1">Introduce name</a>
    </center>
</body>

</html>