<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <center>
        <h1>Menu</h1>
        <a href="/introduce">Introduce name</a>
    </center>
</body>

</html>