<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Introduce</title>
</head>

<body>
    <center>
        <h1>Introduce yourself</h1>
        <p>
            My name is
            <strong style="color: green"><%= N %></strong>
        </p>
        <p>Password
            <%= P %>
        </p>
        <p><a href="/logout?logout=1">Logout</a></p>
    </center>
</body>

</html>